#
# STM specific device configuration
#

config STM_DRIVERS
	boolean
	default y if CPU_SUBTYPE_ST40
	default n

menu "STM specific devices"
        depends on STM_DRIVERS

config STM_PIO
	tristate "STMicroelectronics PIO Support"
	depends on CPU_SUBTYPE_ST40
	default y
	help
	  Driver for the PIO pins on STMicroelectronics ST40 and ST200
	  based parts.

config STM_DMA
	bool "STMicroelectronics DMA API"
	depends on CPU_SUBTYPE_STB7100
	default y
	---help---
	  Selecting this option will provide support for STMicroelectronics'
	  custom DMA API. This API provides support for data transfers of
	  various dimensions and complex linked list operations. In addition
	  to these free-running operations it also allows management of the
	  paced-transfer peripherals on recent STM parts.

	  On STb7100 DMA support is vital for the correct operation of the
	  sound system.

	  If you have a device from STMicroelectronics, then say Y here.
	  Otherwise say N.

config MIN_STM_DMA_CHANNEL_NR
	depends on STM_DMA
	int "Lowest STM-FDMAC channel"
	default "0"
	help
	  This allows you to specify the low boundary FDMA channel number to
	  use with STM-DMA

config MAX_STM_DMA_CHANNEL_NR
	depends on STM_DMA
	int "Highest STM-FDMAC channel"
	default "15"
	help
	  This allows you to specify the high boundary FDMA channel number to
	  use with STM-DMA

config STM_DMA_DEBUG
	bool "STMicroelectronics DMA Debug"
	depends on STM_DMA
	default n

config STB7100_FDMA
	def_bool STM_DMA && CPU_SUBTYPE_STB7100

config STM_SSC
       bool "STM Synchronous Serial Controller"
       depends on !I2C_ST40_PIO
       default y
       ---help---
         This driver is required to support the I2C and the SPI
         Protocol on STM SOCs

config  STM_SSC_DEBUG
	bool "STM SSC Debug"
	depends on STM_SSC
	default n
        ---help---
        Enable this option to print out information on STM SSC device driver

config STM_SPI
	bool "STM Serial Peripheral Interface"
	depends on STM_SSC
	---help---
	This driver is required to support the SPI Protocol

config  STM_SPI_DEBUG
        bool "STM SPI Debug"
        depends on STM_SPI
        default n
        ---help---
        Enable this option to print out information on STM SPI device driver

endmenu
