#
# STM specific device configuration
#

config STM_DRIVERS
	boolean
	default y if CPU_SUBTYPE_ST40
	default n

menu "STM specific devices"
        depends on STM_DRIVERS

config STM_PIO
	tristate "STMicroelectronics PIO Support"
	depends on CPU_SUBTYPE_ST40
	default y
	help
	  Driver for the PIO pins on STMicroelectronics ST40 and ST200
	  based parts.

endmenu
